<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.romycomer.bookregal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookRegal">
        <activity android:name=".Physics.Physics" />
        <activity android:name=".Physics.Physics6"></activity>
        <activity android:name=".Physics.Physics5" />
        <activity android:name=".Physics.Physics4" />
        <activity android:name=".Physics.Physics3" />
        <activity android:name=".Physics.Physics2" />
        <activity android:name=".Physics.Physics1" />
        <activity android:name=".BusinessAdministration.BusinessAdministration6" />
        <activity android:name=".BusinessAdministration.BusinessAdministration5" />
        <activity android:name=".BusinessAdministration.BusinessAdministration4" />
        <activity android:name=".BusinessAdministration.BusinessAdministration3" />
        <activity android:name=".BusinessAdministration.BusinessAdministration2" />
        <activity android:name=".BusinessAdministration.BusinessAdministration1" />
        <activity android:name=".BusinessInformatic.BusinessInformatic6" />
        <activity android:name=".BusinessInformatic.BusinessInformatic5" />
        <activity android:name=".BusinessInformatic.BusinessInformatic4" />
        <activity android:name=".BusinessInformatic.BusinessInformatic3" />
        <activity android:name=".BusinessInformatic.BusinessInformatic2" />
        <activity android:name=".BusinessInformatic.BusinessInformatic1" />
        <activity android:name=".ComputerSience.ComputerSience6" />
        <activity android:name=".ComputerSience.ComputerSience5" />
        <activity android:name=".ComputerSience.ComputerSience4" />
        <activity android:name=".ComputerSience.ComputerSience3" />
        <activity android:name=".ComputerSience.ComputerSience2" />
        <activity android:name=".ComputerSience.ComputerSience1" />
        <activity android:name=".Mathematics.Mathematic6" />
        <activity android:name=".Mathematics.Mathematic5" />
        <activity android:name=".Mathematics.Mathematic4" />
        <activity android:name=".Mathematics.Mathematic3" />
        <activity android:name=".Mathematics.Mathematic2" />
        <activity android:name=".Mathematics.Mathematic1" />
        <activity android:name=".BusinessAdministration.BusinessAdministration" />
        <activity android:name=".BusinessInformatic.BusinessInformatic" />
        <activity android:name=".Mathematics.Mathematic" />
        <activity android:name=".ComputerSience.ComputerSience" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>